<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OrangeHRMTestSuite">
	<parameter name="paramBrowserType" value="CHROME" />
	<parameter name="paramLoginUrl" value="https://opensource-demo.orangehrmlive.com/index.php/auth" />
	<parameter name="paramDashboardUrl" value="https://opensource-demo.orangehrmlive.com/index.php/dashboard" />
	<test name="LoginLogoutTest">
		<classes>
			<class name="com.example.selenium.tests.LoginTest" />
			<class name="com.example.selenium.tests.HomePageTest" />
		</classes>
	</test>
</suite> 
